<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Low Score</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1">
            <div class="item item-icon-right" data-comp-id="item.1"
                ng-repeat="item in data.list">
                <div data-comp-id="text.1" ng-bind="item.target" style="font-size: 10px;">Some text</div>
                <div data-comp-id="text.2" ng-bind="item.customer" style="font-weight: bold;">Some text</div>
                <div data-comp-id="text.3" ng-bind="item.facility">Some text</div>
                <div data-comp-id="text.4" ng-bind="item.status" style="font-size: 10px;">Some text</div>
                <div data-comp-id="text.5" ng-bind="item.creationdate" style="font-size: 9px;">Some text</div>
                <i class="icon ion-ios-arrow-right" data-comp-id="icon.1"
                    ng-click="app.action('lowscore', 'list[item].gotodetail', this)"
                    style="font-size:32px"></i>
            </div>
        </ion-list>
    </ion-content>
</ion-view>